.HeroExplain {
  width: 100vw;
  height: 640px;
  background: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph {
  display: flex;
  font-family: Inter;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 19.5px;
}

.solo-paragraph {
  font-family: Inter;
  display: flex;
  justify-content: center;
  align-items: center;
}

.couple-paragraph {
  color: rgba(0, 0, 0, 0.6);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 141.667% */
  letter-spacing: -0.5px;
}

.title {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px; /* 137.5% */
  letter-spacing: -2px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.small-title {
  color: #6048f0;
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px; /* 140% */
  letter-spacing: -1px;
}

.header {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 66px;
  display: flex;
  position: fixed;
  margin-top: 0px;
  display: flex;
  height: 4.125rem;
  padding: 0rem 8.75rem;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 210px;
  height: 36px;
}

.closed-apply {
  display: flex;
  padding: 0.6rem 1rem;
  justify-content: center;
  align-items: center;
  color: #000;
  border-radius: 8px;
  background: #fff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.header-element {
  /* display: flex;
  justify-content: center; */
  display: flex;
  width: 1160px;
  height: 66px;
  padding: 15px 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 54rem;
  flex-shrink: 0;
}

.youtube-player {
  width: 100vw;
  height: calc(100vw * 9 / 16); /* 16:9 aspect ratio */
  /* max-width: 100%; */
  /* background: #000; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.youtube-player iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.flow-text {
  display: flex;
  flex: 0 0 auto;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.3s;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  font-family: "JetBrains Mono";
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
}
/* .flow-text:hover {
  color: #000;
} */
/* .flow-text:hover .flow-wrap {
  animation-play-state: paused;
  cursor: pointer;
} */
.flow-wrap {
  animation: textLoop 10s linear infinite;
  padding-right: 1.4881vw;
}

@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

div.flow-text {
  display: flex;
  flex: 0 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.flow-container {
  background-color: #000;
}

.people-introduce-background {
  width: 100vw;
  height: 100.9375rem;
  background-color: #000;
  padding-top: 8.72rem;
}

.category-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-top: 1.28rem;
  align-items: flex-start;
  gap: 0.625rem;
}

.category {
  display: inline-flex;
  padding: 0.4375rem 1.3125rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3.125rem;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.125rem; /* 141.667% */
  letter-spacing: -0.03125rem;
}

.category:hover{
  color: #9E98FF;
  border: 1px solid #9E98FF;
}

/* .speakers-container {
  display: flex;
  width: 72.5rem;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1.125rem 0.5rem;
  flex-wrap: wrap;
  padding-top: 3.75rem;
  justify-content: center;
} */

.speakers-container {
  display: flex;
  width: 72.5rem; 
  align-items: flex-start;
  gap: 1.125rem 0.5rem;
  flex-wrap: wrap;
  padding-top: 3.75rem;
  margin: 0 auto; 
}
.card-container {
  width: 284px;
  height: 463px;
  border-radius: 1.25rem;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px; /* 원하는 크기에 맞게 패딩 조정 */
}

.photo-container {
  position: relative;
  width: 100%;
  height: 200px;
}

.speaker-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.company-photo {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 4.0625rem;
  height: 4.0625rem;
  border-radius: 50%;
  overflow: hidden;
  /* border: 3px solid white; */
}

.company-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.speaker-explain {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  padding: 1.25rem 1.47rem 1.25rem 1.47rem;
  /* top right bottom left */
  text-align: flex-start;
}

.company-name {
  color: rgba(0, 0, 0, 0.85);
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2rem;
}

.speaker-name {
  color: rgba(0, 0, 0, 0.85);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
}

.job-level {
  color: rgba(0, 0, 0, 0.85);
  font-family: Inter;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.375rem;
}

.explain-texts {
  color: rgba(0, 0, 0, 0.6);
  padding-top: 0.94rem;
  font-family: Inter;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.375rem;
}
